body {
    margin: 0;

}

#screen {
    position: relative;
    height: 56.25vw;
    width: 99vw;


}

#game {
    position: absolute;
    height: 46.25vw;
    width: 99vw;
    overflow: hidden;
}

#game_background {
    position: absolute;
    width: 99vw;
    height: 46.25vw;
    background-image: url(../assets/background.jpg);
    background-size: cover;
}




#game_ui {
    position: absolute;
    width: 99vw;
    height: 10vw;
    left: 0;

}
/*gameUI_placing*/
#score_board {
    position: absolute;
    left: 1vw;
    top: -vw;
    width: 1vw;
    display: flex;
    min-width: 6vw;

}

#score_image {
    background-image: url(../assets/score.svg);
    background-size: 100%;
    width: 6vw;
    height: 5vw;
}

#score_count {
    position: absolute;
    font-size: 5vw;
    color: white;
    right: -6vw;
    width: 6vw;
    height: 5vw;
    top: -1vw


}



#time_board{
    position: relative;
    top: -.5vw;
    left: 28vw;
     width: 50vw;
    height: 10vw;
    overflow: hidden;
}
#time_board .sprite1{
    position: absolute;
    width: 50vw;
    height: 5vw;
    background-image:url(../assets/Timebackground.svg);
    background-size: 100%
}

#time_board .sprite2{
    position: absolute;
    left: -1vw;
    width: 50vw;
    height: 5vw;
    background-image: url(../assets/Timeforeground.svg);
    background-size: 100%;
    overflow: hidden;
}

#time_left {
    position: absolute;
    font-size: 3vw;
    color: white;
    left: 20vw;
    top: 4.5vw
}
#life_board{
    height: 0vw;
    width: 20vw;
    position: absolute;
    justify-content: flex-end;
    top: -.5vw;
    left: 80vw;
}

#heart{
    display: flex;
}
.active_heart {
    height: 5vw;
    width: 5vw;
    background-image: url(../assets/lifeforeground.svg);
    background-size: 100%;
}

.broken_heart {
     height: 5vw;
    width: 5vw;
    background-image: url(../assets/lifebackground.svg);
    background-size: 100%;
}




#game_elements {
    position: absolute;
    width: 99vw;
    height: 46.25vw;
    overflow: hidden;
}

       /*Element palacing*/

#monster1_container1 {
    position: absolute;

    top: 34vw;
    left: 10vw;

}
#monster1_container1 .sprite {
    width: 6vw;
    height: 6vw;
    background-image: url(../assets/Monster_1.svg);
    background-size: 100%;
}

#monster1_container2 {
    position: absolute;
    top: 38vw;
    left: 18vw;
}
#monster1_container2 .sprite{
    width: 8vw;
    height: 8vw;
    background-image: url(../assets/Monster_1.svg);
    background-size: 100%;
}

#monster1_container3 {
    position: absolute;

    top: 36vw;
    left: 31vw;
}
#monster1_container3 .sprite {
     width: 8vw;
    height: 8vw;
    background-image: url(../assets/Monster_1.svg);
    background-size: 100%;
}

#monster2_container1 {
    position: absolute;
    top: 37vw;
    left: 48vw;
}
#monster2_container1 .sprite {
    width: 7vw;
    height: 7vw;
    background-image: url(../assets/Monste_2.svg);
    background-size: 100%;
}

#monster2_container2 {
     position: absolute;
    top: 36.5vw;
    left: 75vw;
}
#monster2_container2 .sprite {
    width: 8vw;
    height: 8vw;
    background-image: url(../assets/Monste_2.svg);
    background-size: 100%;
}

#monster2_container3 {
    position: absolute;
    top: 38vw;
    left: 11vw;

}
#monster2_container3 .sprite {
    width: 7vw;
    height: 7vw;
    background-image: url(../assets/Monste_2.svg);
    background-size: 100%;
}

#bomb_container1 {
    position: absolute;
    top: 38vw;
    left: 91vw;
}
#bomb_container1 .sprite{
    width: 6.5vw;
    height: 6.5vw;
    background-image: url(../assets/BOMB.svg);
    background-size: 100%;
}

#bomb_container2 {
    position: absolute;
    top: 39vw;
    left: 13vw;
}
#bomb_container2 .sprite{
    width: 5.5vw;
    height: 5.5vw;
    background-image: url(../assets/BOMB.svg);
    background-size: 100%
}

#bomb_container3 {
    position: absolute;
    top: 37.5vw;
    left: 53vw;
}
#bomb_container3 .sprite{
    width: 5.5vw;
    height: 5.5vw;
    background-image: url(../assets/BOMB.svg);
    background-size: 100%;
}

#gameover {
    position: absolute;

    width: 10vw;
    background-color: burlywood;

    align-items: center;
    justify-content: center;
    display: none;
}



/*animations*/

.passing_left {
    animation-name: passing_left_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes passing_left_kf {
    0% {
        left: -6vw;
    }
    100% {
        left: 100vw;
    }
}

.disappear {
    animation-name: disappear_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.67,.47,.33,1.46);
    animation-fill-mode: forwards;
}
@keyframes disappear_kf {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(.8);
    }
    60% {
       opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.explode {
    animation-name: explode_kf;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes explode_kf {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(4);
    }
    100% {
        opacity: 1%;
        transform: rotate(45deg);
    }
}

.shake {
    animation-name: shake_kf;
    animation-duration: .2s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}
@keyframes shake_kf {
    0% {
        transform: rotate(0) scale(1);
    }
    10% {
        transform: rotate(-5deg) scale(1.5);
    }
    50% {
        transform: rotate(10deg) scale(1.5);
    }
    100% {
        transform: rotate(-10deg) scale(1.5);
    }
}

.timeend {
    animation-name: timeend_kf;
    animation-duration: 120s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes timeend_kf {
    0% {
        transform: translate(0vw);
        overflow: hidden;
    }
    100%{
        transform: translate(-44vw);
        overflow: hidden;
    }

}

/*animation modifiers*/

.pause{
    animation-play-state: paused;
}
.speed1{
    animation-duration: 10s;
}
.speed2{
    animation-duration: 6s;
}
.speed3{
    animation-duration: 3s;
}
.speed4{
    animation-duration: 5s;
}
.speed5{
    animation-duration: 8s;
}
.speed6{
    animation-duration: 12s;
}
.speed7{
    animation-duration: 13s;
}
.speed8{
    animation-duration: 7s;
}

